<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirigir todas las solicitudes a HTTPS (opcional)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirigir a la carpeta /public (opcional)
    # RewriteRule ^(.*)$ public/$1 [L]

    # Elimina "www." del dominio (opcional)
    # RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    # RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Manejo de CORS (opcional)
    # Header set Access-Control-Allow-Origin "*"
    # Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    # Header set Access-Control-Allow-Headers "Content-Type, Authorization"

</IfModule>

<IfModule mod_headers.c>
    # Seguridad adicional
    Header set X-Content-Type-Options nosniff
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>